*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.navbar{
    border: 2px solid saddlebrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    height: 71px;
    width: 1440px;
    
    
}
.logo {
    font-size: 15px;
    font-weight: bold;
    margin: 150px;

}
.nav-menu {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 0px;
  
}
.nav-menu li a {
    text-decoration: none;
    color:#8987A1;
    font-weight: 500;
    margin-right: 50px;
}
.nav-menu,.class-1{
    color:#252432 ;
}
/*Banner */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
    margin: 30px auto;
    background-color: #fff;
    width: 1440px;
}

.banner-text {
    max-width: 50%;
    margin: 130px;
}

.banner-text h1 {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.3;
}

.banner-text .highlight {
    color: #ff6a00;
}

.banner-text p {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
    line-height: 1.8;
    
}
.banner-img img{
    max-width: 360px;
    border-radius: 8px;
    width: 1440px;
}
/* Plants Section */
.plants {
    padding: 60px 50px;
    text-align: center;
    margin: 30px auto;
    width: 1440px;
 
}

.plants h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.plants .highlight {
    color: #ff6a00;
}

.plant-description {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto 40px;
    color: #666;
}

.plant-grid {
    display: grid;
    grid-template-columns: repeat(4,280px);
    gap: 30px;
    padding: 0 80px;
    margin-left:50px;
}
.plant-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    
}

.plant-card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}

.plant-card h3 {
    margin: 15px 0 5px;
    font-size: 18px;
    color: #444444;
}
.plant-card p {
    font-weight: bold;
    color: #111111;
}

.plant-card button {
    margin-top: 10px;
    background-color: #ff6a00;
    color: white;
    border: none;
    padding: 8px 85px;
    cursor: pointer;

    
}
/*plants lover*/



.flower-plants {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 30px auto;
  width: 1440px;
}

.image-section {
  flex:  300px;
  position: relative;
  margin-left:180px;
}

.image-section img {
  width: 70%;
  
}

.badge {
  position: absolute;
  top: -70px;
  left: 200px;

  
}
.text-section{
    margin-right:250px;
}
.description{
    color: rgba(0, 0, 0, 0.5);

}

.text-section h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

.text-section ul {
  list-style-type: disc;
  padding-left: 20px;
}

.text-section li {
  margin-bottom: 10px;
}
/*Latest Deals*/
.latest-deals {
  text-align: center;
  margin: 30px auto;
  width: 1440px;
}

.latest-deals h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.latest-deals .highlight {
  color:orange;
  font-weight: bold;
}

.latest-deals .subtitle {
  max-width: 600px;
  margin: 0 auto 40px auto;
  font-size: 16px;
  color: #666;
}

.deals-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}


.deals-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.deals-right {
  display: flex;
  align-items: center;
}

.deal-box {
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  position: relative;
  overflow:hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color:white;
}

.deal-box.small {
  width: 280px;
  height: 150px;
  align-items: center;
}

.deal-box.large {
  width: 500px;
  height: 330px;
  align-items: center;
}


.deal-overlay {
  width: 100%;
  padding: 20px;
  text-align: center;
  align-items: center;
}

.deal-overlay p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.deal-overlay button {
  margin-top: 10px;
  background-color:none;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}


/*joine section*/
 .join-section{
  background-image: url('assets/news-letter-bg.png');
  background-size: cover;
  background-position: center;
  margin: 30px auto;
  padding: 80px 20px;
  text-align: center;
  color: white;
  position: relative;
}

.join-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: bold;
}

.subscribe-box {
  display: flex;
  justify-content: center;
  max-width: 500px;
  margin: auto;
}

.subscribe-box input {
  flex: 1;
  padding: 12px 15px;
  border: none;
  font-size: 16px;
}

.subscribe-box button {
  padding: 12px 25px;
  border: none;
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
/*Footer*/
.footer {
  background: #fff;
  color: #333;
  padding: 40px 20px;
  margin: 30px auto;
  font-size: 14px;
  border-top: 1px solid #ddd;
}

.footer-top {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.footer-logo {
  flex: 1 1 250px;
}

.footer-logo img {
  width: 120px;
  margin-bottom: 10px;
}

.footer-logo p {
  color: #666;
  margin-top: 10px;
}

.footer-links {
  display: flex;
  gap: 50px;
  flex: 2 1 400px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-links li:hover {
  color: #ff6600;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1 1 150px;
}

.footer-social img {
  width: 24px;
  height: 24px;
}


.hide{
    display: none;
}